body {
    background: #032b43;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    display: inline-block;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

.pages {
    align-items: center;
    background: black;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.pages ul {
    text-align: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pages li {
    display: inline-block;
    margin: 0 30px;
}

.pages a {
    font-size: 35px;
}

.logo {
    color:#fff;
    font-size: 35px;
}

.hero {
    align-items: center;
    display: grid;
    font-size: 40px;
    height: calc(100vh - 140px);
    justify-items: center;
    text-align: center;
}

.hero * {
    margin: 0;
}

.mybutton {
    font-size: 24px;
    color: #151D21;
    background: orange;
    display: inline-flex;
    padding: 6px;
    margin-top: 30px;
    margin-right: 5%;
    margin-left: 5%;
    border: none;
    border-radius: 5px;
}

.mybutton:hover {
    font-size: 25px;
    background: gray;
}

.games a:hover, .pages a:hover, .about a:hover {
    color: orange;
}

.page_title {
  font-size: 40px;
  text-align: center;  
}

.games > *, .Art > *, .about > * {
    display: block;
    margin: 40px auto 0;
    text-align: center;
}

.games p, .Art p, .about  {
    margin: 10px;
}

.footer {
    margin: 75px;
}

#Micah, #bout {
    margin: 15px;
}